PORT=3000

WEAVIATE_HOST="localhost:8080"
WEAVIATE_SCHEME="http"
WEAVIATE_LIMIT=20 # must be a number

OPENROUTER_APIKEY=""
OPENAI_API_KEY="" # this should be the same api key as for openrouter

OPENROUTER_DEFAULT_MODEL="" # check available models in libs/common/openrouter/openrouter.models.ts | It is optional
MONGODB_URI="mongodb://root:example@localhost:27017"

JWT_SECRET="your-secret-key"